:root {
  --bg-color: #9A6167;
  --fg-color: #F8E6B8;
  --bdr-color: #423850;
  --hl-color: #E37957;
  --acc-color: #DDA861;
}

/* GENERAL STYLES */

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
}

body {
  background-color: var(--bg-color);
}

header {
  background-color: var(--fg-color);
  display: grid;
  grid-template: "l" 3rem "sb" 3rem;
}

main {
  background-color: var(--fg-color);
}

footer {
  background-color: var(--fg-color);
}

/* UTILITIES */

.fs {
  height: 100vh;
  width: 100vw;
  padding: 0.75rem;
}

.c {
  width: 100%;
  overflow-x: hidden;
}

.tb {
  border-top: 0.25rem solid;
}

.sb {
  border-left: 0.25rem solid;
  border-right: 0.25rem solid;
}

.bb {
  border-bottom: 0.25rem solid;
}

.container {
  border-color: var(--bdr-color);
  display: grid;
  grid-template-rows: 6rem auto 10rem;
}

/* SITE WIDE */

#header-logo-container {
  grid-area: l;
  display: flex;
  justify-content: center;
}

.logo {
  height: 100%;
  padding: 0.25rem;
}

@media only screen and (min-width: 768px) {
  .fs {
    padding: 3rem;
  }
}

