:root {
  /* Colours */
  /* https://huemint.com/website-3/#palette=d6cab6-fcdeab-030506-f56531-e31c51-51c6dd */
  --bg-color: #d6cab6;
  --sh-color: #e31c51;
  --bdr-color: #030506;
  --hl-color: #51c6dd;
  --acc-color: #fcdeab;
  --emph-color: #f56531;
  --txt-color: #6c675e;
}

/* GENERAL STYLES */

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  border-color: var(--bdr-color);
}

body {
  background-color: var(--bg-color);
}

input[type=text] {
  background-color: transparent;
  border: none;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

img {
  width: 100%;
}

h1 {
  color: var(--bdr-color);
  font-size: 3rem;}

h2 {
  color: var(--emph-color);
  font-size: 2rem;
}

h2.ul {
  text-decoration: underline;
  text-decoration-color: var(--hl-color);
  text-underline-offset: 2px;
}

h3 {
  color: var(--sh-color);
  font-size: 1.5rem;
}

p {
  color: var(--txt-color);
}

mark {
  color: var(--bdr-color);
  background-color: var(--emph-color);
}

::selection {
  color: azure;
  background: var(--hl-color);
}

/* UTILITIES */

.fs {
  height: 100%;
  width: 100%;
}

.c {
  height: 100%;
}

.cc {
  margin: 0.5rem;
  padding: 0.25rem 0.5rem;

  width: auto;

  height: fit-content;
  overflow-y: scroll;
}

.txt-c {
  text-align: center;
}

.shadow {
  border: solid 1px ;
  box-shadow: 4px 4px var(--sh-color);
}

.searchbar-container {
  grid-area: sb;
  margin: 0.5rem;
  /* border-radius: 0.25rem; */
  background-color: whitesmoke;
  min-width: 0px;
}

.searchbar {
  height: 100%;
  display: flex;
  min-width: 0px;
}

.search-text {
  font-size: 1.25rem;
  padding: 0.25rem;
  outline: none;
  flex-grow: 1;
  size: 1;
  min-width: 0px;
}

.search-button {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
}

.icon-button {
  height: fit-content;
  width: fit-content;
}

.large-img{
  width: 100%
}

/* SITE WIDE */

.container {
  border-color: var(--bdr-color);
  display: grid;
  grid-template: "header" 4rem "main" 1fr "footer" 10rem;
}

header {
  grid-area: header;
  background-color: var(--bg-color);
  display: grid;
  grid-template:"l sb" 4rem / 4rem 1fr; 
}

main {
  grid-area: main;
  height: fit-content;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
}

footer {
  grid-area: footer;
  background-color: var(--bg-color);
}

#header-logo-container {
  grid-area: l;
}

#header-title-container {
  grid-area: t;
  display: none;
}

.logo {
  height: 4rem;
  width: 4rem;
  padding: 0.25rem;
}

@media only screen and (min-width: 768px) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cc {
    margin: 1rem;
    
    width: fit-content;

    min-width: 5rem;
    min-height: 5rem;

    max-width: 40%;
    max-height: 30rem;
  }

  .spacer {
    flex-grow: 1;
    height: 100%;
  }

  .large-img {
    max-width: 150px;
  }

  .fs {
    padding: 0.5rem;
  }

  .searchbar-container {
    width: 13rem;
    justify-self: end;
  }
  
  header {
    display: grid;
    grid-template:"l t sb" 4rem / 1fr 1fr 1fr; 
  }

  #header-title-container {
    grid-area: t;
    display: inline-block;
  }
}
